
.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.tooltip {
	fill: #333333;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
		margin-bottom: 1%;
		margin-top: 2%;

}
