.container {
    margin-right: 5%;
    margin-left: 5%;
}

body {
    background-color: #080808;
    color: white;
}

.jumbotron{
    background-color: #080808;
}

.jumbotron-fluid{
    background-color: #080808;
}

/* Tooltip */
.tooltip {
    line-height: 1;
    padding: 12px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
    font-family: Calibri;
    font-weight: lighter;
}
